.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    text-align: center
}
.card-container{
    display: grid ;
    justify-content: space-around;
    text-align: center;
    min-width: 160px;
    min-height: 430px;
    grid-template-columns: repeat(5, calc(18% - 5px));
    margin: 2% 8% 2% 8%;
    padding: 5px;
}

.cards{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 20px;   
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
    padding: 10px;
    margin: 5px;
    min-width: 200px;
}

.cards img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.avatar{
    display: block;
    position: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    width: auto;
    height: auto;
    margin: auto;
    border: 4px solid rgb(80, 0, 0);
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.social a{
    margin: 5px;
}

.social img{
    width: 40px;
    height: 40px;
}

@media (max-width: 1059px){

.card-container{
    grid-template-columns: repeat(3, calc(30% - 5px));
}

}

@media (max-width: 767px){

    .card-container{
        grid-template-columns: repeat(1, calc(80% - 5px));
    }
    
    }