body {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: "Segoe UI",'Roboto',"Helvetica Neue";
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #c3c9cc;
    border-radius: 5px;
    text-align: center;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 5;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 5;
    border-top-right-radius: 5;
  }

  .botao{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 30px 20px;
    font-weight: bolder;
    cursor: pointer;
  }
  .voltar{
  text-decoration: none;
}
