@font-face {
  font-family: 'Roboto';
  src: url('/font/Roboto-Bold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Minecraftia';
  src: url('/font/Minecraftia.otf') format('truetype'); 
}
body{
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/3238540-formas-de-triangulos-abstratos-cinza-fundo-baixo-poli-texturizado-vetor.jpg);
  background-size: auto;
}
.fonte{
  font-family: 'Minecraftia', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
}
.texto{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.back{
  background-color: rgb(0, 0, 0);
}
.bolder{
  font-weight: bolder;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        } 
      }   
      @media only screen and (min-width: 320px) and (max-width: 960px){
        footer ul{
          margin-right: 100px;
          align-items: center;
        }
        footer span{
          margin-left: 25px;
        }   
        .navtext{
        text-align: center;
        }       
    
      }
      
